
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
/* Above line is to import google font style 
	 John Noah G. Ompad
	JULY 7, 2015
*/



#wrapper2{
    width:1000px;
    padding-top:20px;
    height:300px;

}



#progressbar{
text-align:center;
padding:0;
font-size:15px;
margin-top:5px;
text-transform:uppercase;
}

#progressbar li { 
display: inline;
font-size:11px;
font-weight:bold;
padding-left:30px;}
.active{
width: 80px;
height: 35px;
padding: 5px;
padding-right:25px;
background-color: #2681c7;
border: none;
border-radius: 4px;
/*font-family: 'Droid Serif', serif;*/
color: white;
font-size:13px;
	border-radius: 2px;
	-moz-outline-radius:3px;
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.deactive{
width: 60px;
height: 35px;
padding: 5px;
padding-right:25px;
margin-left:25px;
background-color: #2681c7;
border: none;
border-radius: 4px;
/*font-family: 'Droid Serif', serif;*/
color: white;
	border-radius: 2px;
	-moz-outline-radius:3px;
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.12);
}


fieldset{
display:none;
border-radius:5px;



}
#first{

display:block;
width:100%;
height:400px;
margin-top:-20px;
}


#second{
width:100%;
height:400px;
margin-top:-20px;
}
input[type=date],
input[type=text],
input[type=password],
select{
width:250px;
margin:12px 0;
height:30px;
font-size:12.5px;
padding-left:100px;
text-transform: uppercase;
padding:1px;	
border-radius: 4px;
border: 1.5px solid rgb(100, 200, 100);
	border-radius: 4px;
	-moz-outline-radius:3px; 
	-webkit-box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.12);
	box-shadow:inset 0 3px 3px rgba(0, 0, 0, 0.12);
}



#second input[type=submit]{
width: 80px;
height: 30px;
margin-left:20px;
padding: 5px;
background-color: 	#2681c7;
border: none;
border-radius: 4px;
/*font-family: 'Droid Serif', serif;*/
color: white;
	
	-moz-outline-radius:3px;
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
#second input[type=button],#first input[type=button]{
width: 80px;
height: 30px;
margin-left:515px;
margin-top:0px;
padding: 5px;
background-color: #2681c7;
border: none;
border-radius: 4px;
/*font-family: 'Droid Serif', serif;*/
color: white;
	border-radius: 2px;
	-moz-outline-radius:3px;
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
#first input[type=button]:hover,#second input[type=button]:hover,#second input[type=submit]:hover,#second button:hover{
	background-color:#0040FF;
	font-weight:bold;
}

#create-daily{
padding: 5px;
background-color: #2681c7;
border: none;
border-radius: 4px;
/*font-family: 'Droid Serif', serif;*/
color: white;

}








